@import-normalize;

:root {
  --grey-color: #cdcdcd;
  --filter-grey-color: #8a8a89;
  --main-text-color: #121417;
  --white-text-color: #ffffff;
  --dark-blue-color: #0b44cd;
  --light-blue-color: #3470ff;
  --secondary-black-color: #363535;
  --select-color: #f7f7fb;
  --alternative-grey-color: rgba(18, 20, 23, 0.5);
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  line-height: 1.5;
  font-size: 24px;
  font-weight: 400;
  background: var(--white-text-color);
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

input {
  margin: 0;
}

label {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #ffffff;
}
